/* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */

.bgnew {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.splash-content header {
    color: #fff;
    font-weight: 900;
    font-size: 2.925em;
    margin-bottom: 3%;
    text-shadow: 2px 3px 0px #898999;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

ul.no-bullets li input[type=checkbox] {
    margin-right: 4px;
}

ul.no-bullets li > label {
    font-weight: normal;
}

#result > div.alert {
    padding: 6px !important;
}